 /*@font-face {
    font-family: 'lishu';
    src: url('../assets/font/lishu.TTF');
    font-weight: normal;
    font-style: normal;
  }*/
  
.app-content{
	position: absolute;
	top: 50%;left: 50%;
	margin-left: -420px;
	margin-top: -350px;
	width: 840px;
	height: 700px;
	background: #fff;
	/*overflow: hidden;*/
}

.app-menu{
	position: absolute;
	right: 0;top: 50%;
	margin-top:-250px;
	width: 100px;
	height: 500px;
	background: #fff;
}

.app-money{
	width: 840px;
	height: 30px;
	background: #F0F0F0;
}

.app-mans{
	width: 100px;
	height: 100px;
	background: #000;	
}

.map{
	position: absolute;
	top: 60px;bottom: 20px;
	left: 50%;margin-left: -300px;
	width: 600px;
	height: 600px;
	background: #777;
}

.aa{width: 60px;height: 60px;background: #000;}

/*背包*/
.bag{
	position: absolute;
	top: 50%;left: 50%;
	margin-left: -430px;
	margin-top: -330px;
	width: 860px;
	height: 660px;
	background: #252830;
	border-radius: 8px;
	/*padding: 10px;*/
	/*去除元素间隙*/
	font-size: 0;
    -webkit-text-size-adjust:none;
    color: #fff;
}

.bag-left{
	width: 280px;
	height: 660px;
	float: left;
	padding: 20px;
	/*border-right: 1px solid #fff;*/
}

.bag-head-img{
	width: 60px;
	height: 60px;
	background: #000;
	margin-right: 10px;
	border-radius: 6px;
}

.bag-head-name{
	width: 200px;
	height: 60px;
	color: #fff;
	font-size: 20px;
	line-height: 60px;	
}

.bag-right{
	width: 500px;
	height: 660px;
	padding: 20px;
	float: left;
}

.bag-equip,.bag-attr{
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.bag-equip-title{
	height:40px;
	width: auto;
	font-size: 14px;
	line-height: 40px;
}

.bag-equip ul li{
	width: 60px;
	height: 60px;
	background: #000;
	border-radius: 6px;
	margin: 0 10px 10px 0;
	cursor: pointer;
	display: inline-block;
}

.bag-equip ul li:hover{
	-moz-box-shadow:0px 0px 10px 0px #999 inset;               /* For Firefox3.6+ */
	-webkit-box-shadow:0px 10px 0px 0px #999 inset;            /* For Chrome5+, Safari5+ */
	box-shadow:0px 0px 10px 0px #999 inset; 
}

.bag-attr ul li{
	width:50%;
	height:30px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	float: left;
}

.bag-money{
	width: 100%;
	height: 40px;
	color: #fff;
	font-size: 14px;
}

.bag-money ul li{
	width: 100px;
	line-height: 40px;
	float: left;
}

.bag-shadow{
	-moz-box-shadow:0px 0px 10px 0px #999 inset;               /* For Firefox3.6+ */
	-webkit-box-shadow:0px 10px 0px 0px #999 inset;            /* For Chrome5+, Safari5+ */
	box-shadow:0px 0px 10px 0px #999 inset;                    /* For Latest Opera */
}

.equipment li{
	position: relative;	
}

.equipment-mes{
	width: auto;
	height: auto;
	padding: 6px;
	border-radius: 4px;
	color: #fff;
	background:rgba(64,9,122,0.5);
	font-size: 12px;
	position: absolute;
	top:0;left:60px;
	display: none;
	z-index:2;
	white-space:nowrap; /*强制不换行*/
}

/*武将列表*/
.mans{
	position: absolute;
	top: 50%;right: 120px;
	margin-top: -330px;
	width: 350px;
	height: 620px;
	background: #252830;
	padding: 10px 20px 20px 20px;
	border-radius: 8px;
	/*padding: 10px;*/
	/*去除元素间隙*/
	font-size: 0;
    -webkit-text-size-adjust:none;
    color: #fff;

}

/*主城弹窗*/
.center{
	position: absolute;
	top:140px;left: 50%;
	margin-left: -275px;
	width: 510px;
	height: 260px;
	padding: 20px;
	background: #252830;
	border-radius: 8px;
	/*padding: 10px;*/
	/*去除元素间隙*/
	font-size: 0;
    -webkit-text-size-adjust:none;
    color: #fff;
}
.center-left{
	font-size: 14px;
	width: 200px;
	float: left;
}
.center-right{
	width: 280px;
	float: right;
}
.center-left img{
	width: 200px;	
}
.center-left>div{
	display: inline-block;
	width: 80px;
	height: 30px;
	margin-right: 10px;
	line-height: 30px;
	text-align: center;
}
.remove{
	background: url('../assets/btn1.png') no-repeat left top;
	background-size: 80px 30px;
}
.upgrade{
	background: url('../assets/btn2.png') no-repeat left top;
	background-size: 80px 30px;
}

.close{
	width: 15px;height: 15px;
	position: absolute;
	top: 10px;right: 10px;
	background: url('../assets/close.png') no-repeat center;
	background-size: 15px 15px;
	cursor: pointer;
	display: block;
}

.recruit{
	font-size: 14px;
	color:#fff;
}

.recruit-left{
	width: 180px;
	height: 180px;
	float: left;
}

.recruit-right{
	width: 280px;
	float: right;
}
.recruit-box{
	width: 60px;
	height: 60px;
	background: #000;
	border-radius: 6px;
	margin-top: 60px;
	margin-bottom: 30px;
	cursor: pointer;
}

.recruit-box:hover{
	-moz-box-shadow:0px 0px 10px 0px #999 inset;               /* For Firefox3.6+ */
	-webkit-box-shadow:0px 10px 0px 0px #999 inset;            /* For Chrome5+, Safari5+ */
	box-shadow:0px 0px 10px 0px #999 inset; 
}

.recruit-btn{
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

/*店铺*/
.shop{
	position: absolute;
	top:60px;left: 50%;
	margin-left: -340px;
	width: 640px;
	height: 410px;
	padding: 10px 20px;
	background: #252830;
	border-radius: 8px;
	/*padding: 10px;*/
	/*去除元素间隙*/
	font-size: 0;
    -webkit-text-size-adjust:none;
    color: #fff;
}

.shop-left{
	width: 300px;
	height: auto;
	float: left;
}

.shop-right{
	width: 300px;
	height: auto;
	float: right;
}

.shop-btn{
	display: inline-block;
	width: 80px;
	height: 30px;
	margin-right: 10px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
